<div>
    <h2>Login Form</h2>
    <form [formGroup]="myForm" (ngSubmit)="loginSubmit() ">
        <div>
            <label>Username:</label>
            <input type="text" [(ngModel)]="userInput" formControlName="username" />
        </div>
        <div>
            <label>Password:</label>
            <input type="text" [(ngModel)]="passInput" formControlName="password"/>
        </div>
        <br><br>
        <button (click)="loginSubmit()">SUBMIT</button>
        <h3 [(ngModel)]="msg"></h3>
    </form>
</div>